*{
    box-sizing: border-box;
}
body{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{

}
nav{
    width: 100%;
    height: 100px;
    background: fixed;
    background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navBar ul{
    width: 100vw;
    text-decoration: none;
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.navBar ul li{
    list-style-type: none;
    padding: 2%;
}
.navBar a{
    color: green;
    text-decoration: none;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: fit-content;
    margin-bottom: 5%;
}
section p{
    display: flex;
    
}
.imageBoxes {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.imageBox{
    flex-wrap: wrap;
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/294964521_5035711726537527_859476851761182307_n.jpg);
}
.imageBox p{
    flex-wrap: wrap;
}
.imageBox1{
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/293332496_10225693751584071_5655490080653281152_n.jpg);
}
.imageBox2{
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/294184912_10159376441728583_4643213290839486480_n.jpg);
}
article{
    display: inline-block;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 50vw;
    text-align: center;
}