/* Styles for all HTML pages - Pseudo code for variation will be commented for each */
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    text-align: center;

}
nav{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: fixed;
    background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navBar ul{
    width: 100vw;
    text-decoration: none;
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.navBar ul li{
    list-style-type: none;
    padding: 2%;
}
.navBar a{
    color: green;
    text-decoration: none;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: fit-content;
    margin-bottom: 5%;
}
section p{
    display: flex;
    
}
.imageBoxes {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    
}
.imageBox{
    flex-wrap: wrap;
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/294964521_5035711726537527_859476851761182307_n.jpg);
}
.imageBox1{
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/293332496_10225693751584071_5655490080653281152_n.jpg);
}
.imageBox2{
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/294184912_10159376441728583_4643213290839486480_n.jpg);
}
.imageBox3{
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/297088391_3158115237773615_8650967192935431051_n.jpg);
}
.imageBox4{
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/294788513_10160629099653463_2965258128122452744_n.jpg);
    background-position: center;
}
.imageBox5{
    height: 400px;
    width: 250px;
    border: white 4px solid;
    background-size: cover;
    background-image: url(/marjon/images/274533498_125634743348835_4317910320886187256_n.jpg);
}
article{
    border: 8px solid rgba(155, 19, 91, 0.5);
    border-radius: 15px;
    display: inline-block;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 50vw;
    text-align: center;
}
article p{
    padding: 0 5%;
}
/* article1 thru article7 styles */
.article1, .article2, .article3, .article4, .article5, .article6, .article7{
    padding-bottom:5%;
}